<div class="grid grid-cols-12 ">
  <div class="md:col-start-3 md:col-end-11 lg:col-start-3 col-span-12 mb-4 p-4">
    <img
      src="https://images.squarespace-cdn.com/content/v1/575b28e2b6aa603c4ceac6b0/1523307437752-A19YS0CRUBN1GRXSVLBW/collie-dog-wide-high-resolution-wallpaper-download-dog-photos-free-cute-puffy-dogs-best-friend-3840x2160.jpg?format=2500w">
  </div>

  <h2 class="text-3xl font-bold text-orange-500 border-black col-span-12 text-center bg-white shadow-md py-4">Start
    expanding your family today
    through Purrfection!</h2>
  <!-- Most Recent Ads Posted -->

<h3 class="text-xl font-bold text-orange-500 border-black col-span-12 bg-white shadow-md py-4 px-10 mt-4">Recently added pets:</h3>

  <div class="p-6 bg-white rounded-lg border border-gray-200 shadow-md col-span-12 mx-auto md:col-start-2 md:col-end-6 my-4 max-w-sm">
    <a href="/petAds/{{pet.id}}">
      <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900">View pet details</h5>
    </a>
    <img class="md:rounded-lg md:w-72 mb-4 object-center" src="{{pet.image}}" alt="">
    <p class="mb-3 text-xl font-normal text-gray-700">{{pet.name}} <span class='text-gray-400'>({{pet.breed}})</span></p>
    <p class="mb-3 font-normal text-gray-700">Age: {{pet.age}}</p>
    <p class="mb-3 text-sm font-normal text-gray-700">{{pet.description}}</p>
    <p class="mb-3 text-sm font-normal text-gray-700">Seller: {{pet.user.first_name}}</p>
  </div>
  <div class="p-6 bg-white rounded-lg border mx-auto border-gray-200 shadow-md col-span-12 md:col-start-7 md:col-end-11 my-4 max-w-sm">
    <a href="/petAds/{{pet2.id}}">
      <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900">View pet details</h5>
    </a>
    <img class="md:rounded-lg md:w-72 mb-4 object-center" src="{{pet2.image}}" alt="">
    <p class="mb-3 text-xl font-normal text-gray-700">{{pet2.name}} <span class='text-gray-400'>({{pet2.breed}})</span></p>
    <p class="mb-3 font-normal text-gray-700">Age: {{pet2.age}}</p>
    <p class="mb-3 text-sm font-normal text-gray-700">{{pet2.description}}</p>
    <p class="mb-3 text-sm font-normal text-gray-700">Seller: {{pet2.user.first_name}}</p>
  </div>
</div>